#header {
  height: 100vh;
  position: relative;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(255, 255, 255, 0)),
    url("../../assets/seaTablet.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: backgroundAnimation 14s ease-in-out infinite;
}

#header .content {
  z-index: 4;
}

@keyframes backgroundAnimation {
  0% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}


#header .content .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
#header .content .btns .btn {
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  margin: 0 0.5rem;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, #592bff 0%, #00ffb3 51%, #00c8f5 100%);
  transition: all 0.3s ease-in-out;
  background-size: 200% auto;
}

#header .content .btns .btn:hover {
  background-position: right center;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#header .content .btns .btn:active {
  transform: translateY(2px) scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


#header .content .btns .btn-mint {
  border: 3px solid white;
}

#header .content .btns .btn-connect {
  border: none;
}

#header .content .centerText {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#header .content .centerText .title {
  font-size: clamp(4rem, 5vw, 106px);
  line-height: 10rem;
  transition: text-shadow 0.3s ease-in-out;
}

#header .content .centerText .title:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00cc99, 0 0 40px #00cc99, 0 0 50px #00cc99, 0 0 60px #00cc99;
  animation: glow 8s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00cc99, 0 0 40px #00cc99, 0 0 50px #00cc99, 0 0 60px #00cc99;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00cc99, 0 0 50px #00cc99, 0 0 60px #00cc99, 0 0 70px #00cc99;
  }
}


#header .content .centerText .desc {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: -1rem;
  transition: text-shadow 0.3s ease-in-out;
}

#header .content .centerText .desc:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  animation: glow 2s ease-in-out infinite alternate;
}

#header .content .vertical-line {
  height: 22rem;
  width: 3px;
  border: none;
  margin-bottom: -10rem;
  color: white;
  background-color: white;
  background: white;
  opacity: 0.8;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ffb3, 0 0 40px #00ffb3, 0 0 50px #00ffb3, 0 0 60px #00ffb3;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00ffb3, 0 0 50px #00ffb3, 0 0 60px #00ffb3, 0 0 70px #00ffb3;
  }
}


@media only screen and (max-width: 900px) {
  #header .content .vertical-line {
    height: 22rem;
    width: 3px;
    margin-bottom: -10rem;
  }
  #header .content .centerText .title {
    line-height: 5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }

  #header .content .centerText .title:hover {
    transform: scale(1.05);
  }
}


@media only screen and (max-width: 330px) {
  #header .content .centerText .title {
    font-size: clamp(4rem, 5vw, 6rem);
  }
  #header .content .vertical-line {
    height: 15rem;
    width: 3px;
    margin-bottom: 6rem;
  }
}
